date,device_id,device_type,device_name,site,action,categories
435018686,435018686,Anyconnect Roaming Client,Nicholas’s MacBook Pro,www.internetbadguys.com,BLOCKED,Malware Phishing Computer Security
435022770,435022770,Roaming Computers,EC2AMAZ-M367V5R,www.internetbadguys.com,BLOCKED,Malware Phishing Computer Security
435022770,435022770,Roaming Computers,EC2AMAZ-M367V5R,www.internetbadguys.com,BLOCKED,Malware Phishing Computer Security
435018686,435018686,Anyconnect Roaming Client,Nicholas’s MacBook Pro,www.internetbadguys.com,BLOCKED,Malware Phishing Computer Security
